{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="py-5" style="background-color: transparent;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">About us..</h1>
            <p class="lead fw-normal text-black-50 mb-0">Fuji Marketing is where art finds a home</p>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                </br></br>
                <p align="justify">
                    Welcome to Fuji Marketing, a cozy little corner for art lovers, craft makers, and creativity
                    seekers!
                    </br></br>
                    We're a newly launched ecommerce store with a big heart for all things handmade, artsy, and
                    imaginative. Whether you're a seasoned crafter or just starting your creative journey, we've curated
                    a delightful collection of supplies and accessories to spark your inspiration.
                    </br></br>
                    From vibrant quilling paper, specialty glue, and crafting tools, to adorable figurines and quirky
                    little items that add a pop of joy to your space, everything we offer is handpicked with love and
                    care.
                    </br></br>
                    We believe that creativity should be accessible, fun, and personal. Art isn’t just about grand
                    masterpieces, it’s also in the tiny details, the thoughtful designs, and the joy of making
                    something with your own hands. That’s why our mission is simple:
                    To support your creative process by providing the tools, materials, and little inspirations that
                    bring your ideas to life.
                    </br></br>
                    Fuji Marketing isn’t just a shop, it’s a celebration of creativity in all its forms. We’re here to
                    cheer you on, share ideas, and help make your crafting experience more enjoyable and fulfilling.
                    </br></br>
                    Thank you for being part of our growing creative community. Let’s make beautiful things together
                </p>
                </br></br>
            </div>
        </center>
    </div>
</div>

{% endblock %}